%li.chat-message
  .chat-message__header.clearfix
    %p.chat-message__name= message.user.name
    %p.chat-message__time= message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  %p.chat-message__body= message.body
  =image_tag "#{message.image}", class: 'chat-messages__image' if message.image
