<div class="contents">
  <%= form_for [@chat_group, @message], html: { class: 'form js-form' } do |f|%>
    <%= f.text_field :body, class: 'form__text-field js-form__text-field' %>
    <%= f.submit class: 'form__submit js-submit' %>
  <% end %>

  <ul class="messages_list">
    <%= render @messages %>
  </ul>
</div>