- @chat_groups.each do |chat_group|
  %li.chat-group
    = link_to chat_group_messages_path(chat_group), class: "chat-group__link" do
      %p.chat-group__name= chat_group.name
      - if chat_group.messages.last
        %p.chat-group__message= chat_group.messages.last.body