#chat-group-user.chat-group-user.remove-from-list.clearfix
  %input{ id: "chat-group-user", class: "chat-group-user remove-from-list clearfix", name: "group[user_ids][]", type: "hidden" }
    %p.chat-group-user__name
      = user_list.name