.chat{
  width: 1050px;
  margin: 0px;
  float: left;
  &__group{
    border-color: #eeeeee;
    padding-left: 40px;
    height: 96px;
    &__name{
      font-size: 20px;
      color: #330309;
      float: left;
    }
    &__edit{
      font-size: 20px;
      line-height: 40px;
      margin-top: 10px;
      margin-right: 40px;
      padding: 0 20px;
      border: medium solid lightskyblue;
      float: right;
      color: lightskyblue;
    }
    &__member{
      font-size: 12px;
      margin-top: 15px;
      padding-bottom: 4px;
      color: #999999;
      clear: both;
    }
  }
  &__messages{
    background-color: #FAFAFA;
    padding: 0px;
    margin-top: 0px;
    &__contents{
      height: 100%;
      padding: 30px 0px 0px 40px;
      &__box {
        height: 50px;
        &__name {
          font-weight: bold;
          color: black;
          font-size: 16px;
          float: left;
          margin: 5px;
        }
        &__time {
          font-size: 12px;
          color: #999999;
          float: left;
          margin-top: 9px;
        }
      }
      &__textbox {
        margin-bottom: 10px;
        &__text {
          font-size: 14px;
          color: black;
          margin-left: 5px;
        }
      }
    }
    &__post {
      height: 90px;
      //padding: 20px 40px 20px 40px;
      padding: 20px 40px 20px 40px;
      background-color: #ddd;
      &__text {
        textarea{
          height: 50px;
          line-height: 50px;
          width: 85%;
          font-size: 16px;
          background-color: white;
          color: #aaaaaa;
          padding: 20px 0 20px 10px;
          float: left;
          display: block;
          border: none;
          position: relative;
        }
        &__icon {
          float: right;
          padding-right: 10px;
          margin-top: 15px;
          color: black;
          display: inline-block;
          position: absolute;
          input{
            display: none;
          }
        }
      }
      &__button {
        line-height: 50px;
        padding: 0px 25px;
        margin-left: 15px;
        color: white;
        float: right;
      }
    }
  }
}