.chat {
  min-width: 980px;
  height: 100vh;
  .chat-side {
    height: 100%;
    float: left;
    width: 300px;
    background-color: #2f3e51;
  }
}

.chat-user {
  height: 80px;
  padding: 20px;
  background-color: #253141;
  color: #fff;
  h5{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 60px;
  }
  &__actions {
    float: right;
  }
  &__action {
    display: inline-block;
    margin: 15px 0 15px 3px;
    line-height: 28px;
    color: #fff;
    font-size: 20px;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.chat-group {
  box-sizing: border-box;
  &__link {
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    color: #fff;
  }
  &__name {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__message {
    font-size: 11px;
    white-space: nowrap;
  }
}

.chat-main {
  float: left;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
}

.chat-header {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  &--left {
    float: left;
    h2{
      margin-top: 20px;
      line-height: 50px;
      letter-spacing: 2px;
      color: #333;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &--right {
    float: right;
  }
  &__users {
    line-height: 20px;
    color: #999;
    font-size: 12px;
  }
  &__user {
    margin-left: 3px;

  }
  &__edit-button {
    display: inline-block;
    margin: 28px 0;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 40px;
    color: #38aef0;
    font-size: 14px;
    border: 2px solid;
    text-decoration: none;
  }
}

.chat-body {
  overflow: scroll;
  position: relative;
  padding: 30px 0;
  //height: 500px;
  height: calc(100% - 250px);
}

.chat-messages{
  right: 40px;
  left: 40px;
}

.chat-message{
  list-style: none;
  margin-bottom: 40px;
  &__header{
    line-height: 20px;
  }
  &__name{
    float: left;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__time{
    float: left;
    margin-left: 10px;
    color: #aaa;
    font-size: 12px;
    padding-top: 5px;
  }
  &__body{
    font-size: 14px;
  }
  &__image{
    max-width: 300px;
    max-height: 300px;
  }
}

.chat-footer{
  position: absolute;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 40px;
  background-color: #ddd;
  &__body {
    float: left;
    width: calc(100% - 115px);
    position: relative;
    textarea{
      width: 100%;
      height: 20px;
      padding: 15px 10px;
      line-height: 20px;
      border: none;
      resize: none;
      display: block;
    }
  }

  &__file{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    input{
      display: none;
    }
  }

  input[type=submit]{
    float: left;
    display: inline-block;;
    width: 100px;
    margin-left: 15px;
    line-height: 50px;
    color: #fff;
    background-color: deepskyblue;
    text-align: center;
    border: none;
    padding: 0;
  }
}
